/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

@media (max-width: 596px) {
    html {
        font-size: 87.5%;
    }
}

body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* Utilities */

.container {
    width: 100%;
    max-width: 592px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.btn {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    color: white;
    transition: opacity .2s;
    font-weight: 500;
}

.btn:hover {
    opacity: .8;
}

.btn--no,
.btn--remove {
    background-color: #dc3545;
}

.btn--update {
    background-color: #007bff;
}

.btn--yes {
    background-color: #28a745;
}

.btn--add {
    background-color: #6c757d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

fieldset legend {
    padding: 0 .2rem;
}

fieldset input {
    padding: .5rem 1rem;
    outline: 0;
}

fieldset input:not(:last-child) {
    margin-bottom: .5rem;
}