/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    width: 100%;
    max-width: 592px;
    margin: 0 auto;
}

.btn {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    color: white;
    transition: opacity .2s;
    font-weight: 500;
}

.btn:hover {
    opacity: .8;
}

.btn--remove,
.btn--no {
    background-color: #dc3545;
}

.btn--update {
    background-color: #007bff;
}

.btn--yes {
    background-color: #28a745;
}

.btn--add {
    background-color: #6c757d;
}

/* Users List */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.users-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #6c757d;
}

.users-list__item:last-child {
    border-bottom: 1px solid #6c757d;
}

.item__left span {
    display: block;
}

.item__right button:first-child {
    margin-right: .5rem;
}

/* Modal Section */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.modal-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: whitesmoke;
}

.modal-container .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.modal-container .buttons .btn {
    width: 40%;
}